<mat-card>
  <mat-card-title  >Van Hoan Tran</mat-card-title>
  <mat-card-subtitle>Computer Programming and Analysis</mat-card-subtitle>
  <mat-card-content>Currently, I am a sophomore in Computer Programming Analysis at Seneca
    College, Toronto, ON, CA. I have a good knowledge of OOP programming languages
    such as C++ and Java. Besides that, I have done some assignments related to
    HTML, CSS, and JavaScript. Now, I am using Angular framework to build this web
    application.</mat-card-content>
  
</mat-card>
