<mat-card>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h2>Log In</h2>
        <mat-error *ngIf="warning"> {{warning}}</mat-error><br />
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User Name" name="username" #name="ngModel" [(ngModel)]="user.userName" required autofocus>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Please provide a valid user name</mat-error>
        </mat-form-field><br />
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" name="password" password="password" #password="ngModel" [(ngModel)]="user.password" required>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">Please provide a valid password</mat-error>
        </mat-form-field><br />
        <button *ngIf="loading===false"mat-raised-button color="accent" type="submit">
          <mat-icon>login</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Login</span>
        </button>
                <button *ngIf="loading" [disabled]="loading" mat-raised-button color="primary" type="submit">
            <mat-icon>account_box</mat-icon>
            <span>&nbsp;&nbsp;&nbsp;Processing Request</span>
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" routerLink="/register">
          <mat-icon>account_box</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Register</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
